@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src: url(/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Jost/Jost-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Jost/Jost-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(/fonts/Overpass_Mono/OverpassMono-VariableFont_wght.ttf) format('truetype');
}