@tailwind base;
@tailwind components;
@tailwind utilities;

@layer fonts {
  :root {
    --headings-font: "Josefin Sans";
    --body-font: "Jost";
    --mono-font: "Overpass Mono";

    font-family: var(--body-font), sans-serif;
  }

  .font-heading {
    font-family: var(--headings-font), sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .font-body {
    font-family: var(--body-font), sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .font-mono {
    font-family: var(--mono-font), monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
}

/* This can't be done in BannerAnnouncement.vue due to v-html not working with scoped CSS */
.banner-message a {
  text-decoration-line: underline;
}

.banner-message strong {
  line-height: inherit;
}

.banner-message p {
  margin-top: 1em;
}

.banner-message p:first-of-type {
  margin-top: 0;
}
